# 공통 서비스 설정
EUREKA_DEFAULT_ZONE=http://127.0.0.1:8761/eureka
EUREKA_SERVER_PORT=8761
GATEWAY_SERVER_PORT=7070
ACCOUNT_SERVER_PORT=7071

# AccountService 데이터베이스
DB_URL=jdbc:mariadb://localhost:3306/account_service
DB_USERNAME=account
DB_PASSWORD=

# AccountService Redis
REDIS_HOST=localhost
REDIS_PORT=3308
REDIS_DATABASE=0
REDIS_USERNAME=
REDIS_PASSWORD=

# AccountService JPA
JPA_DDL_AUTO=create
JPA_SHOW_SQL=true

# AccountService JWT
JWT_ISSUER=kosta-erp-account
JWT_AUDIENCE=kosta-erp-api
JWT_SECRET_BASE64=
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=14d
COOKIE_SECURE=false

# 선택 설정
ACCOUNT_USER_MESSAGE="AccountService Message"
