.DS_Store

**/.gradle/
**/build/
/lib/
**/.idea/
**/out/
**/.vscode/
**/*.iml

**/.env
**/.env.*
!**/.env.example

**/application-local.yml
**/application-local.yaml
**/application-secret.yml
**/application-secret.yaml

**/secrets/
**/*.key
**/*.p12
**/*.pfx
**/*.jks
